<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


     <!--配置注册中心，因为使用的是zookeeper作为注册中心，所以是zookeeper协议的-->
    <dubbo:registry address="zookeeper://39.106.165.75:2181"/>
        <!--配置应用名称 应用方的名称-->
    <dubbo:application name="myconsumer"/>
    <!--interface指的是消费方从提供获得的接口的全限定名 id必须保证唯一 在代码中使用的就是这个id-->
    <dubbo:reference interface="com.qf.shop.service.DemoService" id="demoService"/>
    <dubbo:reference interface="com.qf.shop.service.HelloService" id="helloService"/>




</beans>